<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>List</title>
  </head>
  <body>
    <h1><%= kindOfDay %></h1>

    <ul>
      <li>
        buy food
      </li>
      <li>
        cook food
      </li>
      <li>
        eat food
      </li>
<% for(var i=0;i<newItem.length;i++){ %>
      <li>
        <%=newItem[i] %>
      </li>
  <%     }%>
    </ul>
    <form action="/" method="post">
      <input type="text" name="newItem" />
      <button type="submit">Add</button>
    </form>
  </body>
</html>
