<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>List</title>
  </head>
  <body>
    <% if(kindOfDay==="Monday"){%>
    <h1 style="color: blue;"><%= kindOfDay %>To do list</h1>
    <%} else{ %>
    <h1 style="color: red;"><%= kindOfDay %>To do list</h1>
    <% } %>
  </body>
</html>
